[submodule "bones"]
	path = bones
	url = git@gitlab.com-elio:eliothing/bones.git
[submodule "cells"]
	path = cells
	url = git@gitlab.com-elio:eliothing/cells.git
[submodule "flesh"]
	path = flesh
	url = git@gitlab.com-elio:eliothing/flesh.git
[submodule "generator-flesh"]
	path = generator-flesh
	url = git@gitlab.com-elio:eliothing/generator-flesh.git
[submodule "icarus"]
	path = icarus
	url = git@gitlab.com-elio:eliothing/icarus.git
[submodule "schema"]
	path = schema
	url = git@gitlab.com-elio:eliothing/schema.git
[submodule "spider"]
	path = spider
	url = git@gitlab.com-elio:eliothing/spider.git
