[submodule "bones"]
	path = bones
	url = git@gitlab.com-elio:eliothing/bones.git
[submodule "bones-feathers"]
	path = bones-feathers
	url = git@gitlab.com-elio:eliothing/bones-feathers.git
[submodule "dna"]
	path = dna
	url = git@gitlab.com-elio:eliothing/dna.git
[submodule "flesh"]
	path = flesh
	url = git@gitlab.com-elio:eliothing/flesh.git
[submodule "generator-thing"]
	path = generator-thing
	url = git@gitlab.com-elio:eliothing/generator-thing.git
[submodule "genes"]
	path = genes
	url = git@gitlab.com-elio:eliothing/genes.git
[submodule "bones-keystone"]
	path = bones-keystone
	url = git@gitlab.com-elio:eliothing/bones-keystone.git
