<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145358157-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      dna Templates
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css">
  </head>
  <body>
    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png"/>
        <b>dna</b>
      </a>
        <a href="#default-templates-for-content-detail">
                Default Templates for Content Detail</a>
        <a href="#genes">
                genes</a>
        <a href="#templates-for-your-app">
                Templates for your App.</a>
      <hr>
      <a href="/eliothing">
        <img src="/eliothing/apple-touch-icon.png"/>
        <b>eliothing</b>
      </a>
      <menu>
            <label>Python</label>
            <nav>
                  <a href="/eliothing/genes">
                    <img src="/eliothing/genes/apple-touch-icon.png"/>
                    <b>genes</b>
                  </a>
            </nav>
            <label>Tools</label>
            <nav>
                  <a href="/eliothing/generator-thing">
                    <img src="/eliothing/generator-thing/apple-touch-icon.png"/>
                    <b>generator-thing</b>
                  </a>
            </nav>
      </menu>
    </nav>
    <h1 id="dna-templates">dna Templates</h1>
<p><strong>dna</strong> doesn&#39;t come with any page level templates. It only has a small number of templates designed to render Schema based Django model instances and querysets; or <strong>dna</strong> View context variables. They fully work, but you&#39;ll probably want to replace them with your own to meet the design requirements for you site. However they are worth referencing as the starting point.</p>
<h2 id="default-templates-for-content-detail">Default Templates for Content Detail</h2>
<h3 id="_menuhtml"><code>_menu.html</code></h3>
<pre><code>{% for page_key, page_vals in page_menu.page.items %}
  {% if page_vals.status == &quot;label&quot; %}
    &lt;{{menu|yesno:&quot;menu,nav&quot;}}&gt;
      &lt;label&gt;{{ page_key }}&lt;/label&gt;
      {% with page_menu=page_vals %}
      {% if page_menu.page %}
        &lt;{{menu|yesno:&quot;nav,menu&quot;}}&gt;
          {% include &#39;dna/_menu.html&#39; %}
        &lt;/{{menu|yesno:&quot;nav,menu&quot;}}&gt;
      {% endif %}
      {% endwith %}
    &lt;/{{menu|yesno:&quot;menu,nav&quot;}}&gt;
  {% else %}
    &lt;a href=&quot;{{ page_vals.url }}&quot; class=&quot;{{ page_vals.status }}&quot;&gt;[{{ page_key|default:app_name }}]&lt;/a&gt;
  {% endif %}
{% endfor %}</code></pre><p>You&#39;ll notice that <code>_menu.html</code> calls itself recursively and so is able to render a nested array of sub menus. In this vein we follow the pattern in <strong>elioSin</strong>&#39;s <a href="https://elioway.gitlab.io/eliosin/innocent">innocent</a> stylesheet of nesting menu/nav alternatively to build deep menus. <em>elioSin doesn&#39;t like lots of nested div or ul tags with class names</em></p>
<h4 id="usage">Usage</h4>
<pre><code>{% with menu=True %}
&lt;{{menu|yesno:&quot;menu,nav&quot;}}&gt;
  {% if page_name %}
    {% include &#39;dna/_menu.html&#39; with menu_level=page_menu %}
    &lt;a href=&quot;/&quot;&gt;[Logout]&lt;/a&gt;
  {% endif %}
&lt;/{{menu|yesno:&quot;menu,nav&quot;}}&gt;
{% endwith %}</code></pre><ul>
<li><p><code>menu</code> is a tag name.</p>
<ul>
<li>If <code>True</code>, <code>_menu.html</code> writes a <code>menu</code> tag as the parent, then nests a <code>nav</code> tag for sub menus.</li>
<li>If <code>False</code>, <code>_menu.html</code> writes a <code>nav</code> tag as the parent, then nests a <code>menu</code> tag for sub menus.</li>
</ul>
</li>
<li><p><code>page_menu</code> comes out of the template context for <code>EveryView</code>, and is the top level of the menu.</p>
</li>
</ul>
<h3 id="_page_engagedhtml"><code>_page_engaged.html</code></h3>
<pre><code>{% for engaged in page_engages %}
  {% if engaged.title %}
    &lt;h2&gt;{{ engaged.title }}&lt;/h2&gt;
  {% endif %}
  {% with object=engaged.engage %}
  {% include engaged.template|default:&#39;dna/_thing_engaged.html&#39; %}
  {% endwith %}
  &lt;p&gt;
    &lt;a href=&quot;{% url &#39;update.thing&#39; page_slug &#39;engage&#39; engaged.thing_name engaged.engage.pk %}&quot;&gt;
      &lt;button&gt;Update
        {{ engaged.thing_name }}&lt;/button&gt;
    &lt;/a&gt;
  &lt;/p&gt;
{% endfor %}</code></pre><p>This will render the <code>page_engages</code> variable which is in template context for <code>EveryPageView</code> (i.e. Django&#39;s <code>TemplateView</code>).</p>
<h4 id="usage-1">Usage</h4>
<pre><code>{% include &#39;dna/_page_engaged.html&#39; %}</code></pre><h3 id="_page_listedhtml"><code>_page_listed.html</code></h3>
<pre><code>{% for listed in page_lists %}
  {% if listed.title %}
    &lt;h2&gt;{{ listed.title }}&lt;/h2&gt;
  {% endif %}
  {% with object_list=listed.list %}
  {% with thing_name=listed.thing_name %}
  {% with is_paginated=listed.paginate %}
  {% with paginator=listed.paginator %}
  {% include listed.template|default:&#39;dna/_thing_listed.html&#39; %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  &lt;p&gt;
    &lt;a href=&quot;{% url &#39;create.thing&#39; &#39;list&#39; page_slug listed.thing_name %}&quot;&gt;
      &lt;button&gt;Add
        {{ listed.thing_name }}&lt;/button&gt;
    &lt;/a&gt;
  &lt;/p&gt;
{% endfor %}</code></pre><p>This will render the <code>page_lists</code> variable which is in template context for <code>EveryPageView</code> (i.e. Django&#39;s <code>TemplateView</code>).</p>
<h4 id="usage-2">Usage</h4>
<pre><code>{% include &#39;dna/_page_listed.html&#39; %}</code></pre><h3 id="_thing_confirm_deletehtml"><code>_thing_confirm_delete.html</code></h3>
<pre><code>&lt;form method=&quot;post&quot;&gt;
  {% csrf_token %}
  &lt;p&gt;Are you sure you want to delete &quot;{{ object }}&quot;?&lt;/p&gt;
  &lt;button type=&quot;submit&quot;&gt;Confirm&lt;/button&gt;
  &lt;a href=&quot;{{ object.get_absolute_url }}&quot;&gt;
    &lt;button type=&quot;button&quot;&gt;Cancel&lt;/button&gt;
  &lt;/a&gt;
&lt;/form&gt;</code></pre><p>This is pretty standard Django and will delete the Schema <code>object</code> variable which is in template context for <code>EveryDeleteView</code> (i.e. Django&#39;s <code>DeleteView</code>).</p>
<h4 id="usage-3">Usage</h4>
<pre><code>{% include &#39;dna/_thing_confirm_delete.html&#39; %}</code></pre><h3 id="_thing_engagedhtml"><code>_thing_engaged.html</code></h3>
<pre><code>{% load dna_tags %}
&lt;main
  itemscope=&quot;itemscope&quot;
  itemtype=&quot;http://schema.org/{{ thing_name }}&quot;&gt;
  {% for field_name, url, height, width in object.get_images %}
    {% if url == &quot;None&quot; %}
      {# nothing to see here #}
    {% elif url %}
      &lt;figure&gt;
        &lt;image
          itemprop=&quot;{{ field_name }}&quot;
          src=&quot;{{ url }}&quot;
          height=&quot;{{ height }}&quot;
          width=&quot;{{ width }}&quot;/&gt;
        &lt;figurecaption&gt;{{ object.name }}&lt;/figurecaption&gt;
      &lt;/figure&gt;
    {% endif %}
  {% endfor %}
  {% if object.name %}
    &lt;h1 itemprop=&quot;name&quot;&gt;{{ object.name }}&lt;/h1&gt;
  {% endif %}
  {% if object.alternateName %}
    &lt;h2 itemprop=&quot;name&quot;&gt;{{ object.alternateName }}&lt;/h2&gt;
  {% endif %}
  &lt;dl&gt;
    {% for field_name, field_type, field in object.get_fields %}
      {% if field|has_no_merit %}
        {# nothing to see here #}
      {% elif field_name|is_in:&quot;name,alternateName,polymorphic_ctype,id,elio_key,elio_page,elio_role&quot; %}
        {# handled differently #}
      {% elif field_type == &quot;OneToOneField&quot; %}
        {# nothing to see here #}
      {% elif field %}
        &lt;dt&gt;{{ field_name }}&lt;/dt&gt;
        &lt;dd itemprop=&quot;{{ field_name }}&quot;&gt;
          {% if field_type == &quot;URLField&quot; %}
            &lt;a href=&quot;{{ field }}&quot;&gt;{{ field }}&lt;/a&gt;
          {% elif field_type == &quot;TextField&quot; %}
            {{ field|safe }}
          {% elif field_type == &quot;ForeignKey&quot; %}
            &lt;link itemprop=&quot;availability&quot; href=&quot;http://schema.org/{{ field_type }}&quot;/&gt;
            &lt;a href=&quot;{{ field.get_absolute_url }}&quot;&gt;{{ field }}&lt;/a&gt;
          {% elif field_name == &quot;telephone&quot; %}
            &lt;a href=&quot;tel:{{ field }}&quot;&gt;{{ field }}&lt;/a&gt;
          {% elif field_type == &quot;EmailField&quot; %}
            &lt;a href=&quot;mailto:{{ field }}&quot;&gt;{{ field }}&lt;/a&gt;
          {% else %}
            {{ field }}
          {% endif %}
        &lt;/dd&gt;
      {% endif %}
    {% endfor %}
  &lt;/dl&gt;
&lt;/main&gt;</code></pre><p>This will render the <code>object</code> variable which is in template context for <code>EveryEngageView</code> (i.e. Django&#39;s <code>DetailView</code>) or from the <code>dna/_page_engaged</code> for a collection of object instances in <code>page_engages</code> of <code>EveryPageView</code> (i.e. Django&#39;s <code>TemplateView</code>). .</p>
<h4 id="usage-4">Usage</h4>
<pre><code>{% include &#39;dna/_thing_engaged.html&#39; %}
&lt;p&gt;
  &lt;a href=&quot;{% url &#39;update.thing&#39; page_name thing_name object.pk %}&quot;&gt;
    &lt;button type=&quot;button&quot;&gt;Update&lt;/button&gt;
  &lt;/a&gt;
  &lt;a href=&quot;{% url &#39;delete.thing&#39; page_name thing_name object.pk %}&quot;&gt;
    &lt;button type=&quot;button&quot;&gt;Delete&lt;/button&gt;
  &lt;/a&gt;
  &lt;a href=&quot;{{ object.get_absolute_url }}&quot;&gt;
    &lt;button type=&quot;button&quot;&gt;Back&lt;/button&gt;
  &lt;/a&gt;
&lt;/p&gt;</code></pre><h3 id="_thing_fieldhtml"><code>_thing_field.html</code></h3>
<pre><code>{% if field.field.widget.input_type == &#39;checkbox&#39; %}
  {{ field }}
{% endif %}
{% if field.label %}
  &lt;label for=&#39;{{ field.id_for_label }}&#39;&gt;
    {{ field.label }}
    {% if field.help_text %}
      &lt;span&gt;{{ field.help_text|safe }}&lt;/span&gt;{% endif %}
  &lt;/label&gt;
{% endif %}
{% if not field.field.widget.input_type == &#39;checkbox&#39; %}
  {{ field }}
{% endif %}
{% for error in field.errors %}
  &lt;span class=&quot;errorlist&quot;&gt;
    &lt;mark&gt;{{ error }}&lt;/mark&gt;
  &lt;/span&gt;
{% endfor %}</code></pre><h4 id="usage-5">Usage</h4>
<p>See <code>_thing_form.html</code> below.</p>
<h3 id="_thing_formhtml"><code>_thing_form.html</code></h3>
<pre><code>{% if not no_token %}
  {% csrf_token %}
{% endif %}
{% if form.non_field_errors %}
  {{ form.non_field_errors }}
{% endif %}
&lt;fieldset&gt;
  {% if legend %}
    &lt;legend&gt;{{ legend }}&lt;/legend&gt;
  {% endif %}
  {% for field in form.visible_fields %}
    {% include &#39;dna/_thing_field.html&#39; %}
  {% endfor %}
  {% for formset_form in formset %}
    &lt;legend&gt;
      {{ formset_legend }}
      {% if formset_add %}
        {{ forloop.counter|add:formset_add }}:
      {% else %}
        {{ forloop.counter }}:
      {% endif %}
    &lt;/legend&gt;
    {% for field in formset_form.visible_fields %}
      {% include &#39;dna/_thing_field.html&#39; %}
    {% endfor %}
    {% for hidden in formset_form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
  {% endfor %}
&lt;/fieldset&gt;
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}</code></pre><p>This will render the <code>object</code> variable which is in template context for <code>EveryUpdateView</code> (i.e. Django&#39;s <code>UpdateView</code>) or <code>EveryCreateView</code> (i.e. Django&#39;s <code>CreateView</code>).</p>
<h4 id="usage-6">Usage</h4>
<pre><code>&lt;form enctype=&quot;multipart/form-data&quot; method=&quot;post&quot;&gt;
  {% include &#39;dna/_thing_form.html&#39; %}
  &lt;p&gt;
    &lt;button type=&quot;submit&quot;&gt;Update&lt;/button&gt;
  &lt;/p&gt;
  {% if object.pk %}
    &lt;a href=&quot;{{ object.get_absolute_url }}&quot;&gt;
      &lt;button type=&quot;button&quot;&gt;Cancel&lt;/button&gt;
    &lt;/a&gt;
  {% endif %}
&lt;/form&gt;</code></pre><h3 id="_thing_listedhtml"><code>_thing_listed.html</code></h3>
<pre><code>&lt;ul&gt;
  {% for thing in object_list %}
    &lt;li&gt;
      &lt;a href=&quot;{% url &#39;engage.thing&#39; page_name thing_name thing.pk %}&quot;&gt;{{ thing.name }} »&lt;/a&gt;
    &lt;/li&gt;
    {% empty %}
    &lt;li&gt;No
      {{ thing_name }}.&lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;
{% if is_paginated %}
  &lt;p&gt;
    {% with is_paginated=is_paginated %}
    {% with paginator=paginator %}
    {% with page_obj=object_list %}
    {% include &#39;dna/_thing_paginator.html&#39; %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  &lt;/p&gt;
{% endif %}</code></pre><p>This will render the <code>object_list</code> variable which is in template context for <code>EveryListView</code> (i.e. Django&#39;s <code>ListView</code>) or from the <code>dna/_thing_listed</code> for a collection of querysets in <code>page_lists</code> of <code>EveryPageView</code> (i.e. Django&#39;s <code>TemplateView</code>).</p>
<h4 id="usage-7">Usage</h4>
<pre><code>{% include &#39;dna/_thing_listed.html&#39; %}
&lt;p&gt;
  &lt;a href=&quot;{% url &#39;create.thing&#39; &#39;list&#39; page_slug thing_name %}&quot;&gt;
    &lt;button type=&quot;button&quot;&gt;Add
      {{ page_name }}&lt;/button&gt;
  &lt;/a&gt;
&lt;/p&gt;</code></pre><h3 id="_thing_paginatorhtml"><code>_thing_paginator.html</code></h3>
<pre><code>{% load dna_tags %}
{% if is_paginated %}
  {% if page_obj.has_previous %}
    &lt;a href=&quot;?{% qrystr_in_concert &#39;page&#39;|add:listed.thing_name page_obj.previous_page_number %}&quot;&gt;
      &lt;button&gt;«&lt;/button&gt;
    &lt;/a&gt;
  {% else %}
    &lt;button disabled=&quot;disabled&quot;&gt;«&lt;/button&gt;
  {% endif %}
  {% for pg in paginator.page_range %}
    &lt;a href=&quot;?{% qrystr_in_concert &#39;page&#39;|add:listed.thing_name pg %}&quot;&gt;
      &lt;button {% if page_obj.number == pg %}class=&quot;selected&quot;{% endif %}&gt;
        {{ pg }}
      &lt;/button&gt;
    &lt;/a&gt;
  {% endfor %}
  {% if page_obj.has_next %}
    &lt;a href=&quot;?{% qrystr_in_concert &#39;page&#39;|add:listed.thing_name page_obj.next_page_number %}&quot;&gt;
      &lt;button&gt;»&lt;/button&gt;
    &lt;/a&gt;
  {% else %}
    &lt;button disabled=&quot;disabled&quot;&gt;»&lt;/button&gt;
  {% endif %}
{% endif %}</code></pre><h4 id="usage-8">Usage</h4>
<p>See <code>_thing_listed.html</code> and <code>_page_listed.html</code> for examples of how to call this template.</p>
<h2 id="genes">genes</h2>
<p>The <strong>elioThing</strong> <a href="https://elioway.gitlab.io/eliothing/genes">genes</a> app has many more examples you can use named after Schema Things. We recommend you add and use these to get you started more rapidly.</p>
<h2 id="templates-for-your-app">Templates for your App.</h2>
<p>Here is a list of page level templates you will need in your app with the bare minimum of tags. <strong>generator-thing</strong> creates these for you if you call <code>yo thing</code> in your project folder.</p>
<h3 id="basehtml"><code>base.html</code></h3>
<pre><code>{% load static %}
&lt;!DOCTYPE html&gt;
&lt;html class=&quot;no-js&quot; lang=&quot;&quot;&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;title&gt;
      {% block title %}{% endblock title %}
      {{ app_name }}
    &lt;/title&gt;
    &lt;link
      href=&quot;https://fonts.googleapis.com/css?family=Montserrat:400,800&amp;display=swap&quot;
      rel=&quot;stylesheet&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;
    {% block nav %}{% endblock nav %}
    {% block h1 %}{% endblock h1 %}
    {% block content %}{% endblock content %}
  &lt;/body&gt;
&lt;/html&gt;</code></pre><h3 id="home_pagehtml"><code>home_page.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  App Name
{% endblock title %}
{% block nav %}{% endblock nav %}
{% block h1 %}{% endblock h1 %}
{% block content %}
  &lt;!-- login in here --&gt;
  &lt;p&gt;
    &lt;a href=&quot;{% url &#39;engage.page&#39; home_page|slugify %}&quot;&gt;
      &lt;button&gt;&lt;big&gt;engage&lt;/big&gt;&lt;/button&gt;
    &lt;/a&gt;
  &lt;/p&gt;
{% endblock content %}</code></pre><h3 id="thing_deletehtml"><code>thing_delete.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  Delete
  {{ thing_name }}
{% endblock title %}
{% block h1 %}
  Delete
  {{ thing_name }}
{% endblock h1 %}
{% block content %}
  {% include &#39;dna/_thing_confirm_delete.html&#39; %}
{% endblock content %}</code></pre><h3 id="thing_engagedhtml"><code>thing_engaged.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  {{ thing_name }}
{% endblock title %}
{% block h1 %}
  {{ thing_name }}
{% endblock h1 %}
{% block content %}
  {% include &#39;dna/_thing_engaged.html&#39; %}
  &lt;p&gt;
    &lt;a href=&quot;{% url &#39;update.thing&#39; page_slug thing_name object.pk %}&quot;&gt;
      &lt;button&gt;Update
        {{ thing_name }}&lt;/button&gt;
    &lt;/a&gt;
    &lt;a href=&quot;{% url &#39;delete.thing&#39; page_slug thing_name object.pk %}&quot;&gt;
      &lt;button&gt;Delete&lt;/button&gt;
    &lt;/a&gt;
  &lt;/p&gt;
{% endblock content %}</code></pre><h3 id="thing_formhtml"><code>thing_form.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  {{ thing_name }}
{% endblock title %}
{% block h1 %}
  {{ thing_name }}
{% endblock h1 %}
{% block content %}
  &lt;form enctype=&quot;multipart/form-data&quot; method=&quot;post&quot;&gt;
    {% include &#39;dna/_thing_form.html&#39; %}
    &lt;p&gt;
      &lt;button type=&quot;submit&quot;&gt;Update {{ thing_name }}&lt;/button&gt;
    &lt;/p&gt;
    {% if object.pk %}
      &lt;a href=&quot;{{ object.get_absolute_url }}&quot;&gt;
        &lt;button type=&quot;button&quot;&gt;Cancel&lt;/button&gt;
      &lt;/a&gt;
    {% endif %}
  &lt;/form&gt;
{% endblock content %}</code></pre><h3 id="thing_iteratehtml"><code>thing_iterate.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  Iterate
{% endblock title %}
{% block h1 %}
  Iterate
{% endblock h1 %}
{% block content %}
  &lt;p&gt;
    A place to handle iteratable fields.
  &lt;/p&gt;
{% endblock content %}</code></pre><h3 id="thing_listedhtml"><code>thing_listed.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  {{ thing_name }}
{% endblock title %}
{% block h1 %}
  {{ thing_name }}
{% endblock h1 %}
{% block content %}
  {% include &#39;dna/_thing_listed.html&#39; %}
  &lt;p&gt;
    &lt;a href=&quot;{% url &#39;create.thing&#39; &#39;list&#39; page_slug thing_name %}&quot;&gt;
      &lt;button type=&quot;button&quot;&gt;Add
        {{ thing_name }}&lt;/button&gt;
    &lt;/a&gt;
  &lt;/p&gt;
{% endblock content %}</code></pre><h3 id="thing_optimizehtml"><code>thing_optimize.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  Optimize
{% endblock title %}
{% block h1 %}
  Optimize
{% endblock h1 %}
{% block content %}
  &lt;p&gt;
    Stats coming
  &lt;/p&gt;
{% endblock content %}</code></pre><h3 id="thing_pagehtml"><code>thing_page.html</code></h3>
<pre><code>{% extends &#39;app_name/base.html&#39; %}
{% load static %}
{% block title %}
  {{ page_name }}
{% endblock title %}
{% block h1 %}
  {{ page_name }}
{% endblock h1 %}
{% block content %}
  {% include &#39;dna/_page_engaged.html&#39; %}
  {% include &#39;dna/_page_listed.html&#39; %}
{% endblock content %}</code></pre>
    <footer>
      <a href="https://gitlab.com/elioway/eliothing/dna">GitLab</a> |
      <a href="https://gitlab.com/eliothing">Contribute</a>
      <img src="elio-dna-logo.png">
      <label>&copy; 2019 Made the elioWay</label>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
